.btn-purple{
	color:#9400de;
	border: 1px solid #9400de;
	background: none;
}
.btn-purple:hover{
	color:white;
	background: #9400de;
}
.btn-red{
	color:#f26868;
	border: 1px solid #f26868;
	background: none;
}
.btn-red:hover{
	color:white;
	background: #f26868;
}
.createplaylist:hover{
	transition:0.2s;
	background: #9400de;
	color:white;
}
.createplaylist{
	transition:0.2s;
}
.back{
  position:absolute;
  left:10px;
  color:#9400de;
  margin-top:10px;
  background:none;
  border:0px;

}
