{% extends 'base.html' %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<div id="logs"></div>
<p><a id="cmd">Kentelify:~ admin</a> <a style="color:rgb(52, 52, 254)">$</a> <span id="query"></span><span class="blinker">█</span></p>
<style>
    body{
        font-family: monospace;
        color:greenyellow;
        background: rgb(17, 16, 16);
    }
    nav{
        display: none;

    }
    .navbar{
        display:none
    }
    .blinker{
        transition: 0.5s;
    }
</style>
<script src="/static/bash.js"></script>
{% endblock %}