{% extends 'base.html' %}
{% block main %}
<button onclick="goback()" class="back">
  <i class="fa-solid fa-arrow-left-long"></i>
</button>
<br><br>
	<center>
	<div class="card" style="width:60%;">
		<div class="card-body">
			<h5 class="card-title">Create a playlist</h5>
      <form action="" method="POST" class="card-text">
        <input type="text" name="playlistname" class="form-control" placeholder="Name of the playlist" required>
        <input type="text" name="description" class="form-control" placeholder="Description(optional)"><br>
        <button type="submit" class="btn btn-outline-dark btn-purple">Create</button>
      </form>
		</div>
	</div>
	</center>
{% endblock %}
