{% extends 'base.html' %}
{% block main %}<br><br>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/search.js"></script>
<center><h3>{{playlistdata["title"]}}</h3><i>{{playlistdata["username"]}} - {{playlistdata["time"]}}</i></center><br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Add songs to your playlist</h5>
        <input type="search" onkeyup="searchit('{{playlistdata['id']}}')"  placeholder="Enter song name..."class="form-control" id="search"><br>
        <ul id="results" class="list-group" >

        </ul>


    </div>
</div><br><br>
<ul class="list-group">
    {% for p in playlistdata["musics"] | reverse %}
    <li class="list-group-item" id="{{p}}"><a href="{{p['file']}}">{{p["musicname"]}}</a><a href="/remove_song/{{playlistdata['id']}}?music={{p['musicname']}}" style="color:red;margin-left:20px">Remove</a></li>
    {% endfor %}
</ul>
<script >

	var playButton = document.querySelector('#play-button');
	//var firstSong = new Audio('{{file_}}');
	var trackList = [];
	{% for p in playlistdata["musics"] | reverse  %}
	trackList.push(new Audio("{{p['file']}}"))
	{% endfor %}
    var selectedsong = 0
	function currentSong() {
			var songID = document.querySelector('#stateicon');
			if (trackList[selectedsong].paused) {
				document.getElementById("stateicon").parentNode.innerHTML= "<i id='stateicon' class='fas fa-pause'></i>"
				trackList[selectedsong].play();
			} else {
				document.getElementById("stateicon").parentNode.innerHTML= "<i id='stateicon' class='fas fa-play'></i>"
				trackList[selectedsong].pause();
			}

	}
	function nextsong(){
	    console.log("HEY")
	    if(selectedsong<trackList.length){
	        for (var ar = 0; ar < trackList.length; ar++) {
	            trackList[ar].pause()
            }
            selectedsong +=1
            currentSong()

	    }

	    else{
	        for (var ar = 0; ar < trackList.length; ar++) {
	            trackList[ar].pause()
            }
	        selectedsong = 0
	        currentSong()
	    }
	}
	function prevsong(){
	    if(selectedsong>trackList.length){
	        for (var ar = 0; ar < trackList.length; ar++) {
	            trackList[ar].pause()
            }
            selectedsong =selectedsong -1
            currentSong()

	    }

	    else{
	        for (var ar = 0; ar < trackList.length; ar++) {
	            trackList[ar].pause()
            }
	        selectedsong = 0
	        currentSong()
	    }
	}
</script>
<div class="" id="playerbottom">
    <center>
        <div class="mp3-buttons">
            <button class="playerbutton" type="button" onclick="prevsong()" name="button"><i class="fas fa-step-backward"></i></button>
            <button id="play-button" onclick="currentSong()" class="playerbutton" type="button" name="button"><i  id="stateicon" class="fas fa-play"></i></button>
            <button class="playerbutton" onclick="nextsong()" type="button" name="button"><i class="fas fa-step-forward"></i></button>
        </div>
    </center>
</div>
{% endblock %}